<!-- Использую готовый шаблон, а дальше добавлю свои изменения -->

{% extends "base.html" %}

<!-- Заголовок страницы -->
{% block title %}Главная{% endblock %}

<!-- Основной контент -->
{% block content %}

<!-- Тут будет большой баннер/слайдер с приветствием для посетителей -->

<section class="hero">

    <!-- Главный приветствие -->
    <h2>Добро пожаловать в IT College</h2>

    <!-- Краткое описание колледжа -->
    <p>Мы готовим специалистов будущего в сфере IT 🚀</p>

</section>

{% endblock %}